@charset "UTF-8";
body {
    display: flex;
}
div {
    width: 200px;
    height: 200px;
    border: 1px black solid;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
} 

@media (orientation: portrait) {
    body {
    flex-direction: column;
    }

}